body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
  color: wheat;
}

a {
  color: black;
  text-decoration: none;

}
a:hover {
  color: darkgray;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.nav {
  background-color: grey;
  font-size: 32px;
  color: inherit;
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
  margin-top: 10px;
}
.img-small {
  height: 50px;
}

/* .label-uno {
  color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */
.label-uno {
  color: black;
}