<%- include('../partials/header') %>
<script src="/javascripts/new.js"></script>
<form id="new-form" action="/items" method="POST">
  <div>
    <label>Name:</label>
    <input type="text" name="title">
  </div>

  <div>
    <label>Price:</label>
    <input type="number" name="price">
  </div>

  <div>
    <label>Currency:</label>
    <select name="currency">
      <option value="USD">United States Dollar (USD)</option>
      <option value="EUR">Euro (EUR)</option>
      <option value="JPY">Japanese Yen (JPY)</option>
      <option value="GBP">British Pound (GBP)</option>
      <option value="CAD">Canadian Dollar (CAD)</option>
      <option value="AUD">Australian Dollar (AUD)</option>
      <option value="CHF">Swiss Franc (CHF)</option>
      <option value="CNY">Chinese Yuan (CNY)</option>
      <option value="INR">Indian Rupee (INR)</option>
      <option value="BRL">Brazilian Real (BRL)</option>
    </select>
  </div>

  <div>
    <label>Quantity:</label>
    <input type="number" name="quantity">
  </div>
  <div>
    <label>Brand:</label>
    <input type="text" name="brand">
  </div>
  <div>
    <label>Description:</label>
    <textarea name="description"></textarea>
  </div>

  <div>
    <label>Category:</label>
    <select name="category" onchange="showSizeMenu(); showSizeShoe();">
      <option value="shirts">Shirts</option>
      <option value="pants">Pants</option>
      <option value="dresses">Dresses</option>
      <option value="skirts">Skirts</option>
      <option value="jackets">Jackets</option>
      <option value="shoes">Shoes</option>
      <option value="sweaters">Sweaters</option>
      <option value="activewear">Activewear</option>
      <option value="underwear">Underwear</option>
      <option value="accessories">Accessories</option>
    </select>
    
    <div id="sizeMenu" style="display: none;">
      <label>Size:</label>
      <select name="size">
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
      </select>
    </div>
    <div id="sizeShoe" style="display: none;">
      <label>Size:</label>
      <select name="sizeShoes">
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    
    
 
  <div>
    <label>Image:</label>
    <input type="text" name="image">
  </div>

  <input type="submit" value="Add Item">

</form>


<%- include('../partials/footer') %>
