<%- include('../partials/header') %>

<section id="show-page">

  <div>Name: </div>
  <div><%= item.title %></div>

  <div>Price </div>
  <div><%= item.price %></div>

</section>


<%- include('../partials/footer') %>
